<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> - Real-Time Auction System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../partials/header') %>

        <!-- Toast container -->
        <!-- <div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div> -->
        <div id="toast-container" data-success="<%= success_msg || '' %>" data-error="<%= error_msg || '' %>"></div>

        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>

            <!-- for toast flash session message -->
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const container = document.getElementById('toast-container');
                    const successMsg = container.dataset.success;
                    const errorMsg = container.dataset.error;

                    const createToast = (msg, type) => {
                        const toast = document.createElement('div');
                        toast.textContent = msg;
                        toast.className = `toast toast-${type}`; // style via CSS
                        container.appendChild(toast);
                        setTimeout(() => toast.remove(), 4000);
                    }

                    if (successMsg) createToast(successMsg, 'success');
                    if (errorMsg) createToast(errorMsg, 'error');
                });
            </script>
</body>

</html>